{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block head %}
<head>
    <div {{ react_component('NavbarComponent') }}></div>
</head>
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   {% for compte in compteBudgets %}
        <p>Le solde du compte {{ compte.id }} est de {{ compte.solde }} €</p>
    {% endfor %}
   <div {{ react_component('NavbarComponent') }}    ></div>
</div>
{% endblock %}
